#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
    background-color: #91BEFC;
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
    background-color: #91BEFC;
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #91BEFC;
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: white;

    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: grid;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 450px;
    height: 100%;
grid-template-rows: 1fr 200px;
    margin: 0;
    padding: 80px 0;

    list-style: none;
    background: linear-gradient(157.16deg, #1085ED 7.47%, rgba(46, 85, 220, 0.46) 52.58%, rgba(68, 98, 206, 0.6) 77.54%, rgba(76, 145, 207, 0.67) 103.6%);
    background-color: #488AC7;

    transition-duration: .25s;
}
.menu__box>div>li{
    display: grid;
    justify-items: left;
    grid-template-columns: auto 1fr;
    justify-content: left;
    gap: 4px;
    font-size: 18px;
    align-items: center;
}
.menu__box .menu__item{
    padding: 12px 0;
    color: #BFD4FF;
    font-size: 1.7rem;
    line-height: 22px;
}
.menu__box li{
    padding: 0 0;
}
.menu__box-1{
display: grid;
align-content: baseline;
gap: 24px;
padding-left: 17px;
}
.menu__box-2{
    display: grid;
    align-content: baseline;
    gap: 24px;
    padding-left: 17px;
}

.menu__item {
    display: block;
    justify-items: center;
    padding: 12px 24px;

    color: white;

    font-size: 1.8rem;
    font-weight: 500;

    text-decoration: none;

    transition-duration: .25s;
}
.menu__box .sub-nav.opened{
    max-height: 500px;
    transition: .2s linear;
   opacity: 1;
   pointer-events: all;
}

.menu__item:hover {
    background-color: #CFD8DC;
}
.menu__box .sub-nav{
    grid-column: 1/3;
    max-height: 0;
    transition: .3s linear;
    opacity: 0;
    pointer-events: none;
}
.menu__box-3{
    display: grid;
    align-content: baseline;
    gap: 16px;
    padding: 12px 24px;
}
.menu__box p{
display: flex;
gap: 8px;

}
@media only screen and (max-width: 550px) {
    .menu__box {
        width: 100%;
    }
}